$white-color: #fff;
$darkmode-bg: #180020;
$darkmode-lilla: #e8aaff;
$background-shield: #bcbcbc;
$red: #E04040;

[color-scheme='dark'] {
  // Baggrundsfarver
  header, body, .dropdown-nav, .modal-content, .select-container, .newuser-modal-content, .newUserModalContent, .changepasswordmodal-content, .newProjectContent{
    background-color: $darkmode-bg;
  }

  .slider-font, .slider, input, .custom-select, .newuser-upload-button, .newUserUploadBtn {
    background-color: $background-shield;
  }

  // Tekstfarver
  h1, h2, p, th, td, .link, .darkMode, .darkmodelabel, .newuser-checkbox-item, ul.dropdown-nav, .newUserCheckbox{
    color: $white-color;
  }

  // Img logo
  .branding img {
    transition: filter 0.3s ease;
  }
  
  .dark-mode .branding img {
    filter: invert(1) brightness(2); /* Gør det sort til hvidt */
  }  

  // Dropdown-menu
  .dropdown-nav {
    .link, .settings-icon {
      color: $white-color;

      &:hover {
        color: $darkmode-lilla;
        background-color: $darkmode-bg;
      }
    }
  }

  // Navigation og indstillinger
  .navigation1 {
    .settings {
      color: $white-color;

      &:hover {
        color: $darkmode-lilla;
      }
    }

    .dropdown {
      background-color: $darkmode-bg;

      button {
        color: $white-color;

        &:hover {
          color: $white-color;
          background-color: darken($darkmode-bg, 10%);
        }
      }
    }

    .logout-btn {

      color: $red;

      &:hover {
        background-color: darken($darkmode-bg, 10%);
      }
    }
  }

  // Aktive links
  .active-link {
    border-bottom: 3px solid $white-color;
  }

  // Links generelt
  .link {
    color: $white-color;

    &:hover {
      color: $darkmode-lilla;
    }
  }
}
