$white-color: #fff;
$bacgroundgrey: #F6F6F6;
$darkmode-bg: #180020;
$darkmode-lilla:#e8aaff;


[color-scheme='dark'] {
  
    header, body {
      background-color: $darkmode-bg /* Baggrundsfarve for dark mode */
    }
  
    h1,h2, p, th, td {
        color: $white-color;
    }

    .navigation1{
  
       .settings {
      color: $white-color;
  
          &:hover {
              color: $darkmode-lilla;
          }
      }
    }
     
  
    .active-link {
              border-bottom: 3px solid $white-color;
          }
  
    .link {
      color: $white-color;
  
      &:hover {
        color: $darkmode-lilla;
      }
    }
  }