$primaryPurple: #5C007E;
$darkGrey: #333333;
$lightGrey: #EEEEEE;

$boldFont: 700;

/*MEDIA QUERIES
MIXINS?*/

$largeBreakPoint: 1350px;
$mediumBreakPoint: 700px;
$smallBreakPoint: 430px;

//Media queries
@mixin smallScreen {
  @media only screen and (max-width: #{$smallBreakPoint}) {
    @content;
  }
}

@mixin mediumScreenOrSmaller {
  @media only screen and (max-width: #{$mediumBreakPoint}) {
    @content;
  }
}

@mixin largeScreenOrSmaller {
  @media only screen and (max-width: #{$largeBreakPoint}) {
    @content;
  }
}
